body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  background-color: #f8f8f8;
  color: #333;
}


header {
  background-color: #1166f0;
  color: #fff;
  padding: 20px;
  text-align: center;
  
}

article {
  margin-bottom: 20px;
  padding: 20px;
}

article h2 , article h1{
  color: #4285f4;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #4285f4;
  color: #fff;
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color:#4285f4
}

.main-container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 8px;
}

.bilde {
  overflow: hidden; 
  margin-bottom: 20px; 
}

.bilde img {
  width: 100%;  
  height: auto; 
}

.background main{
  background-image: url('p1-tene.png');
  background-size: cover;
  background-position: center;
}
.background1 main{
  background-image: url('Iz-tene.png');
  background-size: cover;
  background-position: center;
}
.background2 main{
  background-image: url('Turi-tene.png');
  background-size: cover;
  background-position: center;
}
.background3 main{
  background-image: url('Ed-tene.png');
  background-size: cover;
  background-position: center;
}